presenter:
	action:
		edit: Upravit překlad
form:
	container:
		group: Překlad
		property:
			key:
				label: Klíč
				placeholder: Vyplňte klíč
			translates:
				group: Překlady
				action:
					add: Přidat překlad
					delete: Odebrat překlad
translate:
	form:
		container:
			group: Překlad
			property:
				value:
					label: Hodnota
					placeholder: Vyplňte hodnotu
				locale:
					label: Lokalizace
					placeholder: Vyberte lokalizaci
