presenter:
	action:
		edit: Edit translation
form:
	container:
		group: Translation
		property:
			key:
				label: Key
				placeholder: Fill key
			translates:
				group: Translates
				action:
					add: Add translation
					delete: Delete translate
translate:
	form:
		container:
			group: Translate
			property:
				value:
					label: Value
					placeholder: Fill value
				locale:
					label: Locale
					placeholder: Fill locale
